[submodule "tools/featurecounts_galaxy_wrapper"]
	path = tools/featurecounts_galaxy_wrapper
	url = https://github.com/ErasmusMC-Bioinformatics/featurecounts_galaxy_wrapper
[submodule "tools/flaimapper_galaxy_wrapper"]
	path = tools/flaimapper_galaxy_wrapper
	url = https://github.com/ErasmusMC-Bioinformatics/flaimapper_galaxy_wrapper
[submodule "tools/fuma_galaxy_wrapper"]
	path = tools/fuma_galaxy_wrapper
	url = https://github.com/ErasmusMC-Bioinformatics/fuma_galaxy_wrapper
[submodule "tools/unafold_galaxy_wrapper"]
	path = tools/unafold_galaxy_wrapper
	url = https://github.com/ErasmusMC-Bioinformatics/unafold_galaxy_wrapper
[submodule "tools/pysam_galaxy_wrapper"]
	path = tools/pysam_galaxy_wrapper
	url = https://github.com/ErasmusMC-Bioinformatics/pysam_galaxy_wrapper.git
[submodule "tools/crossmap_galaxy_wrapper"]
	path = tools/crossmap_galaxy_wrapper
	url = https://github.com/ErasmusMC-Bioinformatics/crossmap_galaxy_wrapper.git
